<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="zipcodeman.glookup" android:versionName="2.1 Beta RC1"
	android:versionCode="14">
	<uses-sdk android:targetSdkVersion="20" android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:allowBackup="true">
		<service android:name=".notification.GlookupUpdateService" />
		<activity android:name=".GlookupFrontendActivity"
			android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver android:name=".notification.GlookupBootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<receiver android:name=".notification.GlookupAlarmReceiver" />

		<activity android:name="zipcodeman.glookup.authentication.AddUserActivity"
			android:launchMode="standard" android:label="@string/add_user" />
		<activity android:name=".maingrades.MainGradesActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"
			android:label="@string/main_grades_activity" />
		<activity android:name=".subgrades.SubGradeActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout" />
		<activity android:name="org.achartengine.GraphicalActivity"
			android:label="@string/grade_distribution" />
		<activity android:name=".util.SettingsActivity"
			android:label="@string/settings_activity" />

	</application>
</manifest>
